<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rxalarms.rxtimer" > <!-- setting up sdk version for sdk -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        <!-- Starting activity -->
        <activity
            android:name=".AlarmList"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        -->

        <activity
            android:name=".AlarmCreator"
            android:label="@string/title_activity_alarm_info" >
        </activity>

        <activity
            android:name=".ReminderDetails"
            android:label="@string/title_activity_alarm_details" >
        </activity>

        <!--
        <activity
            android:name=".ReminderDetails"
            android:label="@string/title_activity_reminder_details" >
        </activity>
        -->
        <activity android:name=".AlarmScreen" >
        </activity>

        <service
            android:name=".AlarmService"
            android:enabled="true" />

        <receiver android:name=".AlarmManagerHelper" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".UnusedFilesInIteration.Reminder_List_Item"
            android:label="@string/title_activity_reminder__list__item" >
        </activity>
    </application>

</manifest>
